@import 'mixins';

.skills {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;

  &__body {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__name {
    text-transform: uppercase;
    font-weight: bold;

    &:hover {
      color: var(--withe);
    }
  }

  &__img {
    height: 20px;
    width: 20px;
  }

  @include media-query(medium) {
    padding: 0 16px;
  }
}
