@import 'mixins';

.section {
  margin: 0 0 32px;

  @include media-query(medium) {
    padding: 0 16px;
  }
}

.title {
  color: var(--red-cherry);
  margin: 0 0 16px;
}

.body {
  margin: 0 0 5px;
  font-weight: 700;
}

.strong {
  font-weight: 700;
  color: var(--withe);
}

.disapprove {
  .body:hover .strong,
  .body:hover {
    color: var(--red-cherry);
  }
}
