@import 'mixins';

.work {
  background-color: var(--black-intense);
  padding: 100px 0;

  &__container {
    .work__content {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 0 50px;

      h2 {
        font-size: 4rem;
        margin: 0;
      }
    }

    &--block {
      display: block;
    }
  }

  &__projects {
    display: grid;
    grid-template-columns: auto;
    place-content: center;
    gap: 30px;
  }
}

@include media-query(medium) {
  .work {
    &__projects {
      grid-template-columns: repeat(2, auto);
    }
  }
}

@include media-query(large) {
  .work {
    &__container {
      width: 1200px;
      margin: auto;
      padding: 0;
    }

    &__projects {
      grid-template-columns: repeat(3, auto);
    }
  }
}
