@import "mixins";

.footer {
  background-color: var(--withe);
  font-size: 1.3rem;
  font-weight: 400;
  text-align: center;
  padding: 20px 0;

  &__content {
    p,
    span,
    b {
      color: var(--black-intense);
    }

    a:hover b:hover {
      color: var(--red-cherry);
      text-decoration: underline;
      transition-duration: 1s;
    }
  }
}

@include media-query(medium) {
  .footer {
    &__content {
      display: flex;
      justify-content: space-between;
      gap: 20px;
    }
  }
}

@include media-query(large) {
  .footer__content {
    width: 1200px;
    margin: auto;
    padding: 0;
  }
}