
.social__media {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  width: 100%;
  margin: 32px 0 0;

  .icon {
    display: inline-block;
    height: 24px;
    width: 24px;
    transition-duration: 0.5s;

    &:hover {
      transform: scale(0.9);
    }
  }

  .linkedin {
    background: url('/icons/linkedin.svg') center/contain no-repeat;
  }

  .twitter {
    background: url('/icons/twitter.svg') center/contain no-repeat;
  }

  .github {
    background: url('/icons/github.svg') center/contain no-repeat;
  }
}