@import 'mixins';

.about {
  background: var(--black);
  width: 100%;
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  &__container {
    display: grid;
    place-items: center;
    gap: 32px;
    margin: 100px 0;
    width: 100%;
  }

  &__image {
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .avatar {
      background-color: var(--black-intense);
      width: 200px;
      height: 200px;
      border-radius: 100%;

      .img {
        border-radius: 50%;
        object-fit: cover;
      }
    }
  }

  &__me {
    width: 100%;

    .title {
      font-size: 4rem;
      margin: 0 0 24px;
    }
    .tablist {
      font-size: 2rem;
      font-weight: 700;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 16px;
      margin: 0 0 32px;

      .tap {
        padding: 8px 16px;
        cursor: pointer;
        border: 2px solid transparent;
        text-align: center;

        &Active {
          border-bottom: 2px solid var(--red-cherry);
          color: var(--red-cherry);
          transition-duration: 0.5s;
        }

        &:hover {
          color: var(--red-cherry);
        }
      }
    }

    .paragraph {
      margin: 0 0 24px;
    }

    .body {
      font-size: 1.5rem;
      line-height: 2.5rem;
      letter-spacing: 0.1rem;
      color: var(--gray);
      display: none;
      width: 100%;

      &Active {
        display: inline-block;
      }

      .strong {
        font-weight: 700;
        color: var(--withe);
      }
    }

    .btnDownload {
      background: var(--red-cherry);
      color: var(--withe);
      font-size: 2rem;
      font-weight: 700;
      padding: 8px 16px;
      border-radius: 10px;
      border: none;
      margin: 32px 0 0;

      &:hover {
        opacity: 0.9;
      }
    }
  }

  @include media-query(medium) {
    &__container {
      width: 1200px;
      margin: 100px auto;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
      place-content: center;
      gap: 0;
    }

    &__me {
      .tablist {
        display: flex;
      }
    }
  }

  @include media-query(large) {
    &__container {
      padding: 0;
    }
  }
}
